/* Reseteo que debe existir en todo css: */

html {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/*.navbar {
  width: 100%;
  height: 110px;
  background-color: #e4b866;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  position: relative;
  background: #e4b866;
  height: 30vh;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #e4b866;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #e4b866;
  left: -1.5%;
  top: 40%;
}

ul {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  list-style: none;
  margin-top: -9%;
  margin-left: 30%;
}

li {
  margin-left: 2rem;
}

h3 {
  margin-left: -5%;
}

.logo {
  height: 180px;
  margin-left: -70%;
  margin-top: -9%;
}

.carrito {
  display: flex;
  justify-content: flex-end;
  margin-left: 25%;

}