/* Reseteo que debe existir en todo CSS: */

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  position: relative;
  background: #e4b866;
  height: 30vh;
  width: 100%;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #e4b866;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff4df;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #e4b866;
  left: -1.5%;
  top: 40%;
}

ul {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  list-style: none;
  margin-top: -5%;
  margin-left: 40%;
  
}

ul.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; 
  right: 20px; 
  background: #e4b866;
  padding: 10px;
}

li {
  margin-left: 2rem;
}

h3 {
  margin-left: -5%;
}

.logo {
  height: 180px;
  margin-left: -70%;
  margin-top: -12%;
}

.carrito {
  display: flex;
  justify-content: flex-end;
  margin-left: 25%;

}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.lista {
  text-decoration: none;
  font-size: 20px;
  color: #815a10;
}

.lista:visited {
  color: #815a10;
}


@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    float: right; 
    margin-right: 20px; 
  }

  ul {
    display: none;
    position: absolute;
    top: 60px; 
    right: 0; 
    background: #e4b866;
    padding: 10px;
  }

  .logo {
    margin-left: 20%;
    margin-top: -100%;
  }

  .wave::before, .wave::after {
    display: none;
  }

}
