/* Reseteo que debe existir en todo css: */

html {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

*,::after,::before {
    box-sizing: inherit;
} 

.navbar {
  width: 100%;
  height: 57px;
  background-color: #e4b866;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 5%;
}

h3 {
  margin-left: -5%;
}