.productos-container {
    background-color: #fff4df;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500px;
}